# osx noise
.DS_Store
profile

node_modules/*
build/*
content/admin/*
.users.yml
netlify-config.js

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
