/*About The Summit Page*/

.about-summit {
    text-align: left;
    padding-top: 60px; 
}
.about-summit blockquote {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 1.4em;
    border: none;
    position: relative;
    text-align: center;
    margin-bottom: 0;
}
.about-summit blockquote:before,
.about-summit blockquote:after {
    color: $lightblue;
    font-size: 5em;
    position: absolute;
    top: -30px;
}
.about-summit blockquote:before {
    content: open-quote;
    left: 0px;
}
.about-summit blockquote:after {
    content: close-quote;
    right: 0px;
}
@media (max-width: 995px) {
    .about-summit blockquote:before {
        left: -30px;
    }
    .about-summit blockquote:after {
        right: -30px;
    }
}
@media (max-width: 767px) {
    .about-summit blockquote:before {
        top: -50px;
        left: 0px;
    }
    .about-summit blockquote:after {
        right: 0px;
        top: 20px;
    }
}
.about-summit .testimonial-attribute {
    font-family: Georgia, serif;
    text-align: center;
    padding-bottom: 60px;
    border-bottom: 1px solid $lightblue;
    margin-bottom: 60px;
}
.about-summit-action .button {
    text-align: center;
}
@media (max-width: 767px) {
    .about-summit-action {
        text-align: center;
    }
}
h3.recap-title {
    text-align: center;
    font-weight: 300;
    margin: 30px auto 10px;
}
.about-video-wrapper {
    text-align: center;
    display: inline-block;
    width: 45%;
    margin: 10px 2%;
}
.about-summit iframe {
    margin-top: 30px;
    width: 100%;
    min-height: 225px;
}
@media (min-width: 991px) and (max-width: 1200px) {
    .about-summit iframe {
        max-width: 100% !important;
        min-height: 170px;
    }    
}
@media (max-width: 990px) {
    .about-video-wrapper {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 20px auto;
    }
    .about-summit iframe {
        max-width: 100% !important;
        min-height: 350px;
    }
}
@media (min-width: 768px) and (max-width: 989px) {
    .about-summit iframe {
        max-width: 100% !important;
        min-height: 300px;
    }
}
@media (max-width: 767px) {
    .about-video-wrapper {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 20px auto;
    }
}
.about-summit .register-btn-lrg {
    margin-top: 5px;
    width: 210px;
    max-width: 100%;
    text-align: center;
    border-radius: 4px;
}
@media (min-width: 768px) and (max-width: 980px) {
    .about-summit .register-btn-lrg {
        padding: 12px 10px;
    }
}
@media (max-width: 767px) {
    .about-summit .register-btn-lrg {
        margin-bottom: 20px;
    }
}
.two-summits {
    text-align: center;
}
.two-summits h1 {
    margin-top: 0;
}
.two-summits p {
    font-size: 1em;
    color: $bluetext;
}
.two-summits hr {
    border-color: #ced8e2;
    width: 50%;
    margin: 60px auto;
}
.about-timeline-wrapper {
    margin-top: 80px;
    h3 {
        font-weight: 300;
        margin-bottom: 20px;
    }
    p {
        max-width: 700px;
        margin: 10px auto 30px;
    }
    img {
        max-width: 100%;
    }
}
.design-info-img {
    margin-top: 20px;
}
.summit-types {
    margin-top: 0px;
}
.summit-types h3, .about-timeline-wrapper h3 {
    font-weight: 300;
}
.sub-h3 {
    margin: -5px 0 40px;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: #a7b2bc;
}
a.blue-btn {
    margin-top: 30px;
    background: $blue;
    padding: 15px 0;
    width: 250px;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
}
a.blue-btn:hover {
    background: $darkblue;
    color: white;
}
.testimonial-row {
    padding: 90px 0;
    text-align: center;
}
.testimonial-author-img {
    margin: 0 0 30px;
    border: 4px solid $lightblue;
    border-radius: 100px;
}
.testimonial-row blockquote {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 1.4em;
    border: none;
    position: relative;
}
.testimonial-row blockquote:before,
.testimonial-row blockquote:after {
    color: $lightblue;
    font-size: 5em;
    position: absolute;
    top: -30px;
}
.testimonial-row blockquote:before {
    content: open-quote;
    left: -30px;
}
.testimonial-row blockquote:after {
    content: close-quote;
    right: -30px;
}
@media (max-width: 767px) {
    .testimonial-row blockquote:before {
        top: -50px;
        left: 0px;
    }
    .testimonial-row blockquote:after {
        right: 0px;
        top: 20px;
    }
}
.testimonial-attribute {
    font-family: Georgia, serif;
}
.testimonial-attribute img {
    margin: 5px 0;
}
.schedule-row {
    padding: 90px 0;
    text-align: center;
}
.schedule-row h1 {
    color: white;
    margin-top: 0;
}
a.outline-btn {
    width: 100%;
    max-width: 220px;
    padding: 10px 0;
    background: transparent;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    color: $bluetext;
}
a.outline-btn.inactive:hover {
    cursor: default; 
}
.schedule-row a.outline-btn {
    margin-top: 30px;
    color: white;
}
.growth {
    background: url('#{$assetsPath}/growth-bkgd.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    padding: 90px 0;
    width: 100%;
}
.growth.tokyo {
    background: url('#{$assetsPath}/growth-bkgd-v.jpg') no-repeat center center;
    background-size: cover;
}
.growth.austin {
    background: url('#{$assetsPath}/growth-bkgd-t.jpg') no-repeat bottom right;
    background-size: cover;
}
.growth h2 {
    color: white;
}
.growth p {
    color: #666;
}
.growth a {
    color: white;
    text-decoration: underline;
}
.growth-text-top {
    width: 40%;
    float: left;
}
.growth-chart {
    float: left;
    max-width: 100%;
    margin-top: -100px;
}
.growth-text-bottom {
    width: 40%;
    float: right;
    margin-top: -9em;
}
@media (max-width: 1200px) {
    .growth-text-top {
        width: 50%;
    }
    .growth-chart {
        margin-left: 0;
        margin-top: -5em;
    }
    .growth-text-bottom {
        width: 50%;
        margin-top: -1em;
    }
}
@media (max-width: 767px) {
    .growth-text-top {
        width: 100%;
    }
    .growth-chart, .growth-chart.tokyo {
        margin-left: 0;
        margin-top: 0;
    }
    .growth-text-bottom {
        width: 100%;
        margin-top: 20px;
    }
}
.growth-map-wrapper {
    position: relative;
}
.growth-map {
    margin-top: -10px;
    max-width: 100%;
}
.growth-text-top.map p, .growth-text-bottom.map p {
    color: #999;
}
.growth-text-bottom.map {
    margin-top: 0;
}
.growth-chart-legend.map {
    max-width: 200px;
    position: absolute;
    top: 0;
    right: 0;
}
@media (max-width: 767px) {
    .growth-chart-legend.map {
        max-width: 200px;
        position: relative;
        margin: 0 auto 20px;
    }
}
.networking-row {
    text-align: center;
}
.first-timers {
    padding: 60px 0 90px 0;
    text-align: left;
    h3 {
        color: white;
        margin-bottom: 20px;
    } 
}
.stats-wrapper {
    margin: 50px 0 60px;
}
.single-summit-stats {
    max-width: 45%;
    display: inline-block;
    img {
        max-width: 100%;
    }
    h4 {
        text-align: center;
        font-size: 1em;
        font-weight: 300;
        margin: 15px 0 5px;
    }
    &.right {
        margin-left: 3%;
    }
}
.about-summit-legend-wrapper {
    text-align: center;
    a {
        display: block;
        margin-top: 20px;
        font-size: 0.9em;
    }
}
img.about-summit-legend {
    width: 350px;
    max-width: 100%;
    margin: 20px auto 0;
}
.pass-types {
    margin: 30px 0;
    text-align: left;
    ul {
        margin: 0 0 0 15px;
        padding: 5px;
        li {
            text-align: left;
            margin-bottom: 10px;
        }
    }
}
.pass-type-title {
    padding: 20px;
    color: white;
    text-transform: uppercase;
    &.keynote {
        background: $brightblue;
    }
    &.full {
        background: $red;
    }
}
/*End About The Summit Page*/

/*Show City and Date on Mobile*/
.mobile-city-date {
    display: none;
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    padding-bottom: 30px;
    h1 {
        margin: 5px 0 20px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3em;
    }
    h2 {
        margin-bottom: 0;
        font-size: 1.5em;
        text-align: center;
    }
}
@media (max-width: 767px) {
    .mobile-city-date {
        display: block;
    }   
}
/*End Show City and Date on Mobile*/