/*Info and News Page*/
.info-summit {
    padding: 0;
}
a.pass-timeline-wrapper {
    text-align: center;
    display: block;
    &:focus {
        outline: 0; 
    }
}
img.pass-timeline {
    max-width: 100%;
    border: 3px solid $lightblue;
    padding: 20px;
    margin: 10px auto;

    &:hover {
        border-color: $brightblue;
    }
}
img.pass-timeline-large {
    max-width: 100%;
}
#passModal {
    max-width: 100%;
    p {
        text-align: center;
        font-size: 1em;
        font-weight: 400;
    }

    .modal-contact-btn {
        max-width: 300px;
        margin-top: 60px;
    }

}
.info-promo {
    margin: 60px 0;
    padding: 43px 30px;
    background: url('#{$assetsPath}/info-promo-bkgd.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 143px;
    color: white;
}
.info-promo a {
    color: white;
}
.info-promo-left {
    float: left;
    height: 100%;
    width: 50%;
}
.info-promo-right {
    float: right;
    height: 100%;
    width: 50%;
    margin-top: -10px;
    font-size: 0.9em;
}
.promo-5 {
    float: left;
    font-size: 6em;
    font-weight: 700;
    padding-right: 10px;
    text-align: center;
    line-height: 0.6em;
}
.promo-top {
    float: left;
    width: 85%;
    text-align: left;
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}
.promo-bottom {
    float: left;
    width: 85%;
    text-align: left;
    font-size: 2.4em;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding-top: 5px;
}
.right-promo-bottom {
    padding-top: 12px;
}
.right-promo-bottom a {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 600;
}
.right-promo-bottom a i {
    margin-left: 10px;
}
@media (max-width: 1200px) {
    .info-promo-left {
        width: 60%;
    }
    .info-promo-right {
        width: 40%;
    }
}
@media (max-width: 990px) {
    .info-promo-left {
        width: 100%;
        height: 50%;
        margin-bottom: 15px;
    }
    .info-promo-right {
        width: 100%;
    }
    .info-promo {
        padding: 30px;
        height: 200px;
    }
    .promo-5 {
        text-align: left;
    }
}
@media (max-width: 767px) {
    .promo-bottom {
        font-size: 2em;
    }
}
h5.section-title {
    color: $darkblue;
    font-weight: 600;
    text-transform: capitalize;
    border-bottom: 1px solid #dae5ee;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
ul.help-me-menu {
    padding: 0;
    margin: 0;
}
ul.help-me-menu li {
    list-style: none;
}
ul.help-me-menu li a {
    color: #8a959e;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    width: 100%;
    display: block;
    padding: 15px 10px;
    background: white;
}
ul.help-me-menu li a:hover {
    background: $lightblue;
    color: $blue;
    text-decoration: none;
}
@media (min-width: 768px) and (max-width: 990px) {
    ul.help-me-menu li a {
        padding: 15px 10px;
        font-size: 0.8em;
    }
}
ul.help-me-menu li a i {
    margin-right: 15px;
    font-size: 1.5em;
}
.schedule-square {
    background: $brightblue;
    color: white;
    padding: 30px;
    margin-top: 30px;
}
.schedule-square h3 {
    color: white;
    margin: 0 0 20px;
    font-weight: 400;
}
.schedule-square h3 i {
    margin-right: 15px;
}
.schedule-square a.outline-btn {
    color: white;
    margin: 25px auto 10px;
    display: block;
}
@media (max-width: 990px) {
    .schedule-square a.outline-btn {
        width: 100%;
        font-size: 1em
    }
}
@media (max-width: 767px) {
    .schedule-square a.outline-btn {
        width: 60%;
        font-size: 1em
    }
}
.about-city-row {
    background: url('#{$assetsPath}/vancouver-bkgd-orange.jpg') no-repeat left top;
    min-height: 610px;
    background-size: cover;
    position: relative;
    margin: 0 0 -60px;
    text-align: center;
    padding: 170px 0;
    color: white;
    position: relative;
}
.about-city-row h1 {
    margin-top: 0;
}
a.photo-credit {
    position: absolute;
    bottom: 70px;
    right: 30px;
    color: #fff;
    opacity: 0.7;
    font-size: 1.3em;
}
.summit-hero-wrapper.condensed a.photo-credit {
    display: none;
}
.about-city-row p {
    font-weight: 400;
    font-size: 1.3em;
    margin-bottom: 30px;
}
.about-city-row h1 {
    color: white;
    font-size: 3em;
}
a.orange-btn {
    background: #ff5b08;
    border-radius: 4px;
    padding: 13px 40px;
    color: white;
    margin-top: 50px;
}
a.orange-btn:hover {
    color: white;
    background: #CE390B;
}
/*a.news-story {
    background: white;
    padding: 3% 5% 5%;
    display: block;
    float: left;
    color: #30739C;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    border: 2px solid #edf2f7; 
    &:hover {
        border-color: #29abe2; 
    }
    p {
        font-size: 0.9em;
        color: $bluetext;
    }
}
.news-left {
    width: 30%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 70%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}
.news-right {
    width: 68%;
    margin-bottom: -3%;
    float: right;
}
a.news-story.no-pic .news-left {
    display: none;
}
a.news-story.no-pic .news-right {
    width: 100%;
}
.news-story .news-title {
    font-size: 1.3em;
    line-height: 1.1em;
    font-weight: 300;
}
.news-byline {
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    color: #9eb5c3;
    border-top: 1px solid #dae5ee;
    padding-top: 10px;
    margin-top: 20px;
}
.news-byline .posted {
    float: left;
}
.news-byline .type {
    float: right;
}
.news-byline .type i {
    margin-right: 5px;
    font-size: 1em;
}*/


.news-story {
  background: white;
  padding: 3% 5% 5%;
  display: block;
  float: left;
  color: #30739C;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  border: 2px solid #edf2f7; }
  a.news-story:hover {
    border-color: #29abe2; }

.news-story p {
  font-size: 0.9em;
  color: #30739C; }

.news-left {
  width: 30%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 70%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left; }

.news-right {
  width: 68%;
  margin-bottom: -3%;
  float: right; }

.news-story.no-pic .news-left {
  display: none; }

.news-story.no-pic .news-right {
  width: 100%; }

.news-story .news-title {
  font-size: 1.3em;
  line-height: 1.1em;
  font-weight: 300; }

.news-byline {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  color: #9eb5c3;
  border-top: 1px solid #dae5ee;
  padding-top: 10px;
  margin-top: 20px; }

.news-byline .posted {
  float: left; }

.news-byline .type {
  float: right; }

.news-byline .type i {
  margin-right: 5px;
  font-size: 1em; }




.timeline-wrapper {
    .section {
        margin-bottom: 40px;
        float: left;
    }
    ul {
        padding: 0;
        margin: 0;
        display: table;
        li {
            list-style: none;
            padding: 10px;
            display: table-row;
            strong {
                padding: 0 10px 20px 0;
                display: table-cell;
            }
            span {
                padding: 0 0 20px 0;
                display: table-cell;
            }
        }
    }
}
.dates-section {
    p {
        margin-bottom: 20px; 
    }
    span {
      display: block;
      font-size: 0.85em;
      font-weight: 400;
      font-style: italic; 
    }
    .left {
      float: left;
      width: 30%;
      margin-right: 3%;
      font-weight: 700;
      margin-bottom: 30px; 
    }
    .right {
      float: right;
      width: 67%;
      margin-bottom: 30px;
    }
}
.code-of-conduct h5.section-title {
    margin-top: 40px;
}
/*End Info and News Page*/