// Path to images
$assetsPath : "/themes/openstack/static/images";

// OpenStack Offical Colors:
$bluetext: #213c55;
$brightblue: #29abe2;
$darkblue: #2A4E68;
$darkbluehover: #0C1722;
$blue: #30739C;
$teal: #68C8C3;
$peach: #EB604D;
$red: #DA422F;
$redhover: #A51B1B;
$lightblue: #edf2f7;
$lightbluehover: #D4DCE5;
$brightblue: #29abe2;
