<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }} | OpenStack Open Source Cloud Computing Software</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/combined.css" rel="stylesheet">


    <!-- Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Page-specific CSS -->
    {% if css %}
        {% for sheet in css %}
            <link href={{ sheet.url }} rel='stylesheet' type='text/css'>
        {% endfor %}
    {% endif %}

</head>

<body class="summit-landing-body">


    <!-- Begin Page Content -->
    {{ contents | safe }}
    <!-- End Page Content -->

    <!-- jQuery Version 1.11.0 -->
    <script src="/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Javascript for page -->
    {% if javascript %}
        {% for script in javascript %}
            <script src="{{ script.url }}"></script>
        {% endfor %}
    {% endif %}    

</body>

</html>